@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;  

}

body{
    background-image: url('../images/back\ login.png');
}
.positionCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    
    
}
.card{
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}
.face{
    width:100% ; 
    height: 100%;
    position: absolute;
    border: 2px solid black ;
    border-radius: 10px;
    transition: all 500ms ease;
}
.front{
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
}
.back{
    background-image: url('../images/back\ roxo.png');
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    opacity: 0.5;
}
audio{
    background-color: rgb(138, 136, 136);
    opacity: 0.6;
    
}
alert{
    color: aqua;
}

.swal2-title {
    
    color: rgb(123, 81, 240) !important;
    font-size: 4rem !important;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;;
    
}

.swal2-html-container {
    color: rgb(123, 81, 240) !important;
    font-size: 2rem !important;
   
    
}
  